.untitled-pagetyy.main {
  display: flex;
  flex-direction: column;
  background-color: #101010;
  overflow: hidden;
  padding: 50px;
}
.untitled-pagetyy .coastalErosionSection {
  position: relative;
  height: 2502px;
  min-height: 2502px;
}
.untitled-pagetyy .cover {
  position: absolute;
  inset: 0 0 1474px;
  height: 1028px;
}
.untitled-pagetyy .cover1 {
  position: absolute;
  inset: 696px 796px 1563px 876px;
  width: 248px;
  height: 243px;
}
.untitled-pagetyy .cover2 {
  position: absolute;
  inset: 94px 14px 2267px 1776px;
  width: 130px;
  height: 141px;
}
.untitled-pagetyy .color {
  position: absolute;
  inset: 335px 1183px 1809px 100px;
  width: 637px;
  height: 358px;
  background-color: rgba(0, 0, 0, 0.698);
  border-radius: 10px;
}
.untitled-pagetyy .subtitle {
  position: absolute;
  inset: 379px 1227px 1853px 144px;
  width: 549px;
  height: 270px;
  font: 400 22px/2.04 "Noto Sans", Helvetica, Arial, serif;
  color: white;
}
.untitled-pagetyy .highlight {
  position: absolute;
  inset: 1028px 1423px 1448px 100px;
  width: 397px;
  height: 26px;
  font: 300 16px/1.62 "Noto Serif", Helvetica, Arial, serif;
  color: white;
}
.untitled-pagetyy .color1 {
  position: absolute;
  inset: 120px 30px 2362px 1870px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
}
.untitled-pagetyy .color11 {
  position: absolute;
  inset: 183px 98px 2299px 1802px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
}
.untitled-pagetyy .color12 {
  position: absolute;
  inset: 126px 88px 2356px 1812px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
}
.untitled-pagetyy .color13 {
  position: absolute;
  inset: 873px 958px 1609px 942px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
}
.untitled-pagetyy .color14 {
  position: absolute;
  inset: 818px 904px 1664px 996px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
}
.untitled-pagetyy .color15 {
  position: absolute;
  inset: 771px 852px 1711px 1048px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
}
.untitled-pagetyy .image {
  position: absolute;
  inset: 305px 331px 1875px 1253px;
  width: 336px;
  height: 322px;
}
.untitled-pagetyy .color16 {
  position: absolute;
  inset: 800px 958px 1682px 942px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
}
.untitled-pagetyy .subtitle1_box {
  position: absolute;
  inset: 1788px 537px 0 535px;
  width: 848px;
  height: 714px;
}
.untitled-pagetyy .subtitle1 {
  font: 400 22px/1.9 "Noto Serif", Helvetica, Arial, serif;
  color: black;
}
.untitled-pagetyy .subtitle1_span0 {
  font: 1em/1.9 "Noto Serif", Helvetica, Arial, serif;
  color: white;
}
.untitled-pagetyy .subtitle1_span1 {
  font: 1em/1.9 "Noto Serif", Helvetica, Arial, serif;
  color: #f1ae12;
}
.untitled-pagetyy .subtitle1_span2 {
  font: 1em/1.9 "Noto Serif", Helvetica, Arial, serif;
  color: white;
}
.untitled-pagetyy .subtitle1_span3 {
  font: 1em/1.9 "Noto Serif", Helvetica, Arial, serif;
  color: #f1ae12;
}
.untitled-pagetyy .subtitle1_span4 {
  font: 1em/1.9 "Noto Serif", Helvetica, Arial, serif;
  color: white;
}
.untitled-pagetyy .subtitle1_span5 {
  font: 1em/1.9 "Noto Serif", Helvetica, Arial, serif;
  color: #f1ae12;
}
.untitled-pagetyy .subtitle1_span6 {
  font: 1em/1.9 "Noto Serif", Helvetica, Arial, serif;
  color: white;
}
.untitled-pagetyy .subtitle1_span7 {
  font: 1em/1.9 "Noto Serif", Helvetica, Arial, serif;
  color: #f1ae12;
}
.untitled-pagetyy .subtitle1_span8 {
  font: 1em/1.9 "Noto Serif", Helvetica, Arial, serif;
  color: white;
}
.untitled-pagetyy .subtitle1_span9 {
  font: 1em/1.9 "Noto Serif", Helvetica, Arial, serif;
  color: #f1ae12;
}
.untitled-pagetyy .subtitle1_span10 {
  font: 1em/1.9 "Noto Serif", Helvetica, Arial, serif;
  color: white;
}
.untitled-pagetyy .subtitle1_span11 {
  font: 1em/1.9 "Noto Serif", Helvetica, Arial, serif;
  color: #f1ae12;
}
.untitled-pagetyy .subtitle1_span12 {
  font: 1em/1.9 "Noto Serif", Helvetica, Arial, serif;
  color: white;
}
.untitled-pagetyy .highlight1 {
  position: absolute;
  inset: 1576px 392px 874px 390px;
  width: 1138px;
  height: 52px;
  font: 300 16px/1.62 "Noto Sans", Helvetica, Arial, serif;
  color: white;
}
.untitled-pagetyy .cover4 {
  position: absolute;
  inset: 1148px 392px 934px 390px;
  width: 1138px;
  height: 420px;
}
.untitled-pagetyy .image1 {
  position: absolute;
  inset: 1504px 880px 986px 883px;
  width: 157px;
  height: 12px;
}
.untitled-pagetyy .color2 {
  position: absolute;
  inset: 1489px 859px 1001px 947px;
  width: 114px;
  height: 12px;
  background-color: #f1ae12;
}
.untitled-pagetyy .color3 {
  position: absolute;
  inset: 1524px 902px 966px 923px;
  width: 95px;
  height: 12px;
  background-color: #f1ae12;
}
.untitled-pagetyy .color4 {
  position: absolute;
  inset: 1248px 444px 1242px 1328px;
  width: 148px;
  height: 12px;
  background-color: #f1ae12;
}
.untitled-pagetyy .color5 {
  position: absolute;
  inset: 1226px 416px 1264px 1326px;
  width: 178px;
  height: 12px;
  background-color: #f1ae12;
}
.untitled-pagetyy .color6 {
  position: absolute;
  inset: 1200px 393px 1290px 1399px;
  width: 128px;
  height: 12px;
  background-color: #f1ae12;
}
.untitled-pagetyy .color7 {
  position: absolute;
  inset: 1540px 927px 950px 874px;
  width: 119px;
  height: 12px;
  background-color: #f1ae12;
}
.untitled-pagetyy .hero_title {
  position: absolute;
  inset: 1688px 783px 774px 535px;
  display: flex;
  justify-content: center;
  width: 602px;
  height: 40px;
  font: 500 48px/0.83 "Noto Sans", Helvetica, Arial, serif;
  color: #f1ae12;
  text-align: center;
}
.untitled-pagetyy .image10 {
  position: absolute;
  inset: 781px 79px 1531px 1673px;
  width: 168px;
  height: 190px;
}
.untitled-pagetyy .templeHistoricalSection {
  position: relative;
  width: 1920px;
  height: 1041px;
  min-height: 1041px;
}
.untitled-pagetyy .cover5 {
  position: absolute;
  inset: 429px 973px 234px 390px;
  width: 557px;
  height: 378px;
}
.untitled-pagetyy .info {
  position: absolute;
  inset: 517px 1168px 498px 681px;
  display: flex;
  justify-content: flex-end;
  width: 71px;
  height: 26px;
  font: 400 12px/2.16 "Noto Sans", Helvetica, Arial, serif;
  color: black;
  text-align: right;
}
.untitled-pagetyy .highlight11 {
  position: absolute;
  inset: 815px 1142px 174px 390px;
  width: 388px;
  height: 52px;
  font: 300 16px/1.62 "Noto Sans", Helvetica, Arial, serif;
  color: white;
}
.untitled-pagetyy .image2 {
  position: absolute;
  inset: 543px 1168px 428px 695px;
  width: 57px;
}
.untitled-pagetyy .cover51 {
  position: absolute;
  inset: 429px 392px 234px 971px;
  width: 557px;
  height: 378px;
}
.untitled-pagetyy .info1 {
  position: absolute;
  inset: 588px 800px 427px 1051px;
  display: flex;
  justify-content: flex-end;
  width: 69px;
  height: 26px;
  font: 400 12px/2.16 "Noto Sans", Helvetica, Arial, serif;
  color: black;
  text-align: right;
}
.untitled-pagetyy .highlight12 {
  position: absolute;
  inset: 815px 561px 174px 971px;
  width: 388px;
  height: 52px;
  font: 300 16px/1.62 "Noto Sans", Helvetica, Arial, serif;
  color: white;
}
.untitled-pagetyy .image3 {
  position: absolute;
  inset: 614px 812px 357px 1051px;
  width: 57px;
}
.untitled-pagetyy .title_box {
  position: absolute;
  inset: 232px 392px 699px 682px;
  width: 846px;
  height: 110px;
}
.untitled-pagetyy .title {
  font: 400 32px/1.71 "Noto Sans", Helvetica, Arial, serif;
  color: black;
}
.untitled-pagetyy .title_span0 {
  font: 1em/1.71 "Noto Sans", Helvetica, Arial, serif;
  color: #f1ae12;
}
.untitled-pagetyy .title_span1 {
  font: 1em/1.71 "Noto Sans", Helvetica, Arial, serif;
  color: white;
}
.untitled-pagetyy .title_span2 {
  font: 1em/1.71 "Noto Sans", Helvetica, Arial, serif;
  color: #f1ae12;
}
.untitled-pagetyy .subtitle2 {
  position: absolute;
  inset: 138px 534px 861px 681px;
  width: 705px;
  height: 42px;
  font: 400 22px/1.9 "Noto Serif", Helvetica, Arial, serif;
  color: white;
}
.untitled-pagetyy .medium_title {
  position: absolute;
  inset: 88px 944px 911px 682px;
  width: 294px;
  height: 42px;
  font: 400 24px/1.75 "Noto Serif", Helvetica, Arial, serif;
  color: #f1ae12;
}
.untitled-pagetyy .image5 {
  position: absolute;
  inset: 60px 1324px 672px 390px;
  width: 206px;
  height: 309px;
}
.untitled-pagetyy .image6 {
  position: absolute;
  inset: 987px 723px 0 721px;
  width: 476px;
  height: 54px;
}
.untitled-pagetyy .shorelineImpactSection {
  position: relative;
  width: 1920px;
  height: 1470px;
  min-height: 1470px;
}
.untitled-pagetyy .subtitle1_box1 {
  position: absolute;
  inset: 1208px 537px 94px 535px;
  width: 848px;
  height: 168px;
}
.untitled-pagetyy .highlight13 {
  position: absolute;
  inset: 970px 392px 422px 390px;
  width: 1138px;
  height: 78px;
  font: 300 16px/1.62 "Noto Sans", Helvetica, Arial, serif;
  color: white;
}
.untitled-pagetyy .cover41 {
  position: absolute;
  inset: 98px 392px 952px 390px;
  width: 1138px;
  height: 420px;
}
.untitled-pagetyy .image4 {
  position: absolute;
  inset: 542px 973px 508px 390px;
  width: 557px;
  height: 420px;
}
.untitled-pagetyy .hero_title1 {
  position: absolute;
  inset: 1108px 874px 322px 535px;
  width: 511px;
  height: 40px;
  font: 500 48px/0.83 "Noto Sans", Helvetica, Arial, serif;
  color: #f1ae12;
}
.untitled-pagetyy .image41 {
  position: absolute;
  inset: 542px 392px 508px 971px;
  width: 557px;
  height: 420px;
}
.untitled-pagetyy .highlight2 {
  position: absolute;
  inset: 640px 546px 778px 1231px;
  width: 143px;
  height: 52px;
  font: 600 16px/1.62 "Noto Sans", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -2.41px;
}
.untitled-pagetyy .image9 {
  position: absolute;
  inset: 768px 581px 545px 1182px;
  width: 157px;
  height: 157px;
}
.untitled-pagetyy .color8 {
  position: absolute;
  inset: 638px 703px 551px 1215px;
  width: 2px;
  height: 281px;
  background-color: white;
}
.untitled-pagetyy .line {
  position: absolute;
  inset: 628px 689px 840px 1200px;
  width: 31px;
  height: 2px;
  background-color: white;
}
.untitled-pagetyy .line1 {
  position: absolute;
  inset: 917px 689px 551px 1200px;
  width: 31px;
  height: 2px;
  background-color: white;
}
.untitled-pagetyy .color9 {
  position: absolute;
  inset: 621px 691px 832px 1201px;
  width: 28px;
  height: 17px;
  background-color: white;
}
.untitled-pagetyy .color10 {
  position: absolute;
  inset: 909px 691px 543px 1201px;
  width: 28px;
  height: 18px;
  background-color: white;
}