<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/UntitledPagetyy.css" />

  </head>

  <body class="flex-column">

    <main class="untitled-pagetyy main">
      <section class="coastalErosionSection">
        /*🚩26 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks adaptability.❗*/
        <img class="cover" src="/assets/73aa011470f60c58ee65ed5478f43f1c.png" alt="alt text" />
        <img class="cover1" src="/assets/124ef8be80e7d9306c0d546e5fae00a2.svg" alt="alt text" />
        <img class="cover2" src="/assets/013d5f7aec692cc5707712f64b092780.svg" alt="alt text" />
        <div class="color"></div>
        <h3 class="subtitle">
          Odisha has a coastline of approximately 550 kms, of which 28% is lost to coastal erosion due to repeated severe cyclonic events between 1971 - 2018.
          <br />
          Satabhaya, a remote coastal village of Kendrapara is the foremost victim of these episodic events and is said to be the face of coastal erosion in India.
        </h3>
        <p class="highlight">Coastal region of Satabhaya. Source: Google Earth Pro.</p>
        <div class="color1"></div>
        <div class="color11"></div>
        <div class="color12"></div>
        <div class="color13"></div>
        <div class="color14"></div>
        <div class="color15"></div>
        <img class="image" src="/assets/de200efc73a24ad5e6a90d3abd608a3a.png" alt="alt text" />
        <div class="color16"></div>
        <h3 class="subtitle1_box">
          <span class="subtitle1">
            <span class="subtitle1_span0">Odisha’s coastline is spread across </span>
            <span class="subtitle1_span1">6 coastal districts</span>
            <span class="subtitle1_span2"> namely Ganjam, Puri, Jagatsinghpur, Kendrapara, Bhadrak and Baleshwar. Due to numerous cyclonic episodes starting from 1971 cyclone, approximately </span>
            <span class="subtitle1_span3">31.02 km</span>
            <span class="subtitle1_span4"> of coastline is </span>
            <span class="subtitle1_span5">eroded</span>
            <span class="subtitle1_span6">
               in Kendrapara district alone making it the worst affected by sea erosion.
              <br />
              <br />
              In a remote coastal location of
            </span>
            <span class="subtitle1_span7">Kendrapara</span>
            <span class="subtitle1_span8">, a cluster of seven hamlets, </span>
            <span class="subtitle1_span9">Satabhaya</span>
            <span class="subtitle1_span10"> [ sata: seven, bhaya: brothers ] has the history of being affected by multiple cyclones and rapid erosion by the sea. The cyclone of 1971, the Super cyclone of 1999 and many others until 2018, has affected it’s human life and property severely. More than 5000 people have lost their lives, rest have lost their loved ones, washing away more than 600 homes, approximately 2400 acres of cropland got destroyed and salinized due to sea water ingression, temples, high school got destroyed, livestock died and many other incidents occurred parallelly. The frequency and intensity of these storms depend on several climatic factors which have worsened since the 1971 Odisha cyclone and experts link this to </span>
            <span class="subtitle1_span11">coastal erosion with the sea&#x27;s ingress into the land and the resultant rise in sea levels due to global warming.</span>
            <span class="subtitle1_span12"></span>
          </span>
        </h3>
        <p class="highlight1">
          7 hamlets of Satabhaya: [from top] HabeliChintamanipur, Kaduanasi, Sanagahiramatha, Govindapur, Sahebnagar, Mohanpur and Paramanandapur.
          <br />
          Source: Odisha Remote Sensing Application Centre, Assembly Constituency Map.
        </p>
        <img class="cover4" src="/assets/24df631867dcc81b71521545a3dd4603.png" alt="alt text" />
        <img class="image1" src="/assets/81c82163af8d3fe77633a2577166dce6.svg" alt="alt text" />
        <div class="color2"></div>
        <div class="color3"></div>
        <div class="color4"></div>
        <div class="color5"></div>
        <div class="color6"></div>
        <div class="color7"></div>
        <h1 class="hero_title">Introduction to Satabhaya</h1>
        <img class="image10" src="/assets/2a257cd3004db581499a2571bf39a27d.png" alt="alt text" />
      </section>

      <section class="templeHistoricalSection">
        /*🚩13 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks adaptability.❗*/
        <img class="cover5" src="/assets/90894f097e53c4500adf781b60bfe3d9.png" alt="alt text" />
        <div class="info">Temple then</div>
        <p class="highlight11">
          Temple and nearby settlements of Satabhaya in 2007.
          <br />
          Source: Priya Ranjan Sahu
        </p>
        <img class="image2" src="/assets/e0e3dc713df05e09d0f4b081f53bafb3.svg" alt="alt text" />
        <img class="cover51" src="/assets/8dcebbc728c793f4a5310c6914d0d505.png" alt="alt text" />
        <div class="info1">Temple now</div>
        <p class="highlight12">
          Temple and nearby settlements of Satabhaya in 2023.
          <br />
          Source: Self
        </p>
        <img class="image3" src="/assets/c66bbbde9322987378ff2a0a50a5ecba.svg" alt="alt text" />
        <h1 class="title_box">
          <span class="title">
            <span class="title_span0">“</span>
            <span class="title_span1"> In 1999, the sea ate my own birthplace in front of my eyes and faded away, after that I left Satabhaya. </span>
            <span class="title_span2">”</span>
          </span>
        </h1>
        <h3 class="subtitle2">Recalled witnessing multiple cyclones in 1971, 1982, 1999, and said,</h3>
        <h2 class="medium_title">An elderly villager, age 62</h2>
        <img class="image5" src="/assets/c3baec1a65f2de0e2a89cb417473cd2e.png" alt="alt text" />
        <img class="image6" src="/assets/4bcdf086d1f688c25f16e2f0934821c9.svg" alt="alt text" />
      </section>

      <section class="shorelineImpactSection">
        /*🚩13 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks adaptability.❗*/
        <h3 class="subtitle1_box1">
          <span class="subtitle1">
            <span class="subtitle1_span0">The </span>
            <span class="subtitle1_span11">17km</span>
            <span class="subtitle1_span2"> shoreline of Satabhaya is one of the fastest eroding. During extreme cyclonic episodes waves reach </span>
            <span class="subtitle1_span3">3-4m in height</span>
            <span class="subtitle1_span4"> washing away everything in its way. This has caused the shoreline to ingress by approximately </span>
            <span class="subtitle1_span5">2km since 1982</span>
            <span class="subtitle1_span6"> as said by locals who witnessed the ingression almost every year.</span>
          </span>
        </h3>
        <p class="highlight13">
          A visible geographical feature at Satabhaya depicting shoreline shift. Strong cyclonic waves erode huge portions of land, due to which roots of the trees gets weak, this results in the land becoming loose and more prone to further erosion. Coastline length of Satabhaya: 17km.
          <br />
          Source: Self 2023.
        </p>
        <img class="cover41" src="/assets/d07de5cee3039665e9d2ea4ad489e5f0.png" alt="alt text" />
        <img class="image4" src="/assets/904bb768abd15486a6528ec41c69f290.png" alt="alt text" />
        <h1 class="hero_title1">The Chasing Shoreline</h1>
        <img class="image41" src="/assets/b6d959094e7532623341c80eada63bed.png" alt="alt text" />
        <p class="highlight2">approximately 3m of land is eroded over a decade</p>
        <img class="image9" src="/assets/f5781b591f7c63727cf3e437d121fa93.png" alt="alt text" />
        <div class="color8"></div>
        <hr class="line" size="1" />
        <hr class="line1" size="1" />
        <div class="color9"></div>
        <div class="color10"></div>
      </section>

    </main>

  </body>

</html>
